---
import Project from "./Project.astro";
const projects = [
  {
    repo: "cloud",
    desc: "cloud disk",
    icon: "i-twemoji-open-file-folder",
  },
  {
    repo: "api",
    desc: "⭐ API call service",
    icon: "i-twemoji-glowing-star",
  },
  {
    repo: "nav",
    desc: "Navigation network",
    icon: "i-twemoji-love-you-gesture-light-skin-tone",
  },
  {
    repo: "web",
    desc: "Webmaster Tools",
    icon: "i-twemoji-hammer-and-wrench",
  },
  {
    repo: "tool",
    desc: "Online tools",
    icon: "i-twemoji-musical-notes",
  },
  {
    repo: "url",
    desc: "Short Link",
    icon: "i-twemoji-smiling-face-with-horns",
  },
  {
    repo: "one",
    desc: "personal assistant",
    icon: "i-twemoji-open-file-folder",
  },
  {
    repo: "hot",
    desc: "Hot list",
    icon: "i-twemoji-open-file-folder",
  },
  {
    repo: "yjx",
    desc: "Free film and television analysis V3",
    icon: "i-twemoji-open-file-folder",
  },
  {
    repo: "jx",
    desc: "Free film and television analysis V2",
    icon: "i-twemoji-open-file-folder",
  },
  {
    repo: "analysis",
    desc: "Film and television payment analysis",
    icon: "i-twemoji-open-file-folder",
  },
  {
    repo: "game",
    desc: "Online games",
    icon: "i-twemoji-open-file-folder",
  },
  {
    repo: "music",
    desc: "Cloud music",
    icon: "i-twemoji-open-file-folder",
  },
  {
    repo: "chat",
    desc: "ChatGPT",
    icon: "i-twemoji-open-file-folder",
  },
  {
    repo: "love",
    desc: "love space",
    icon: "i-twemoji-open-file-folder",
  },
  {
    repo: "dg",
    desc: "QQ proxy link",
    icon: "i-twemoji-open-file-folder",
  },
  {
    repo: "web.hot",
    desc: "Hot list V2",
    icon: "i-twemoji-framed-picture",
  },
];
---

<h3 class="flex items-center mt-8 mb-4 font-semibold text-2xl">
  <span flex-1 class="outfit">💻Projects</span>
  <a
    href="https://github.com/iaesun"
    target="_blank"
    color-white
    class="op-50 ml-2 hover:op-100 transition-opacity cursor-pointer"
  >
    <div class="m-2 i-ri-arrow-right-up-line"></div>
  </a>
</h3>
<div class="grid gap-4 grid-cols-1 sm:grid-cols-2">
  {
    projects.map((project) => {
      return <Project {...project} />;
    })
  }
</div>
